/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:nth($fonts,1);
}
html{
    font-size: $font-size;
}
.container{
    width: 90%;
    margin: 0 auto;
}
span{
    font-family: nth($fonts, 2);
}
h1{
    font-family: nth($fonts, 1);
}