$primary-color:#fbca03;
$secondary-color:#f5f5f5;
$third-color:#313234;
$fourth-color:#242424;
$primary-font:'raleway';
$secondary-font:'Kaushan Script';
$font-size:16px;
$primary-font-color:#303233;
$secondary-font-color:#333;
$third-font-color:#656565;


$colors:$primary-color,$secondary-color,$third-color,$fourth-color;
$fonts:$primary-font,$secondary-font;
$font-color:$primary-font-color,$secondary-font-color,$third-font-color;
